.todo-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;

  }
  
  .input-container {
    display: flex;
    margin-bottom: 10px;
  }
  
  .input-container input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
  }
  
  .todo-list {
    list-style-type: none;
    padding: 0;
  }
  
  .todo-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .todo-list li.completed span {
    text-decoration: line-through;
    color: #474444;
  }
  
  .delete-btn {
    background-color: #ed4141;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .todo-stats {
    margin-top: 20px;
    text-align: center;
  }